* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  /* Load system fonts */
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Deactivate auto-enlargement of small text in Safari */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

/**
   * Form elements render using OS defaults,
   * so font-family inheritance must be specifically declared
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header,
main {
  padding: 12px 0;
}

footer {
  padding: 16px 0;
}

body {
  background-color: #f0f0f0;
}

.home-body__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-page__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page__con.top {
  margin-top: unset;
}

.home-page__main {
  margin: 0 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home-page__right, .home-page__left {
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.6em;
}

.home-page__right:hover, .home-page__left:hover {
  cursor: pointer;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0 0 0px;
  margin: 12px;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 12px;
  }
}

.card-liked__con {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-liked__con:hover {
  cursor: pointer;
}

.card-liked__checkbox {
  margin-right: 8px;
}

.card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
}

@media (max-width: 768px) {
  .card-image {
    width: 100%;
  }
}

.card-image > img {
  max-height: 300px;
  max-width: 300px;
}

@media (max-width: 768px) {
  .card-image > img {
    width: 100%;
    max-width: unset;
    max-height: unset;
  }
}

.card-body {
  margin: 12px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-body__c {
  margin-top: auto;
}

@media (max-width: 768px) {
  .card-body__c {
    margin-top: 8px;
  }
}

.card-body__exp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Number of lines displayed before it truncate */
  overflow: hidden;
}

.card-body__date {
  margin-bottom: 8px;
}
/*# sourceMappingURL=index.css.map */